.topnav {
  background-color: darkblue;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: goldenrod;
  color: white;
}

.topnav a.active {
  background-color: goldenrod;
  color: white;
}
body{
	background-color:darkblue;
	color:white;
}
.center{
	text-align: center;
	object-position: center;
}
.links a{
	color: white;
	border: thin;
  	background-color: darkblue;
  	overflow: hidden;
	
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url(../realmadrid.jpeg);
	color:white;
}	